body{
    background-color: black;
}
div{
    text-align: center;
    padding-top: 100px;
}
img{
    border: solid white;
    border-width: 5px;
}
H1{
    color: white;
    font-family: "Libre Baskerville", serif;
}
p{
    color: white;
}